<div class="input-group">
  <input class="form-control"
         autocomplete="off"
         type="search"
         id="search"
         placeholder="Search:"
         [(ngModel)]="searchValue"
         (input)="searchValueChanged()"
         name="search">
  <span class="input-group-append">
    <div class="input-group-text bg-transparent"><i class="fas fa-search"></i></div>
  </span>
</div>
