<div class="d-flex align-items-center">
  <div>{{headerName | humanize}}</div>


  <div class="mt-2">
    <i *ngIf="ascendingEnabled"
       class="fas fa-sort-up mr-2 align-bottom mb-1"></i>

    <i *ngIf="descendingEnabled"
       class="fas fa-sort-down mr-2"></i>
  </div>

  <div class="dropdown ml-3">
    <button class="btn btn-sm btn-outline-primary btn-primary"
            type="button"
            id="dropdownMenuButton{{filterNumber}}"
            data-toggle="dropdown"
            aria-haspopup="true"
            data-boundary="window"
            aria-expanded="false">
      <i class="fas fa-filter"
         [ngStyle]="{'color' : filterEnabled || descendingEnabled || ascendingEnabled ?  'yellow' : '#999999'}"></i>
    </button>
    <div class="dropdown-menu shadow-lg"
         [attr.aria-labelledby]="'dropdownMenuButton{{filterNumber}}'">

      <form autocomplete="off"
            novalidate>

        <a class="dropdown-item p-2"
           (click)="asc()"> <i class="fas fa-sort-amount-up-alt"></i> Sort ascending</a>
        <a class="dropdown-item p-2"
           (click)="dsc()"> <i class="fas fa-sort-amount-down"></i> Sort descending</a>

        <div class="m-2">
          <input type="text"
                 placeholder="Enter text:"
                 class="form-control"
                 [(ngModel)]="searchValue"
                 id="searchValue{{filterNumber}}"
                 name="searchValue{{filterNumber}}">
        </div>

        <div class="m-2">
          <button type="button"
                  class="btn btn-sm btn-primary"
                  (click)="filter()">Filter</button>

          <button type="button"
                  class="btn btn-sm btn-secondary ml-2"
                  (click)="clearFilter()"><i class="fas fa-redo-alt"></i></button>
        </div>
      </form>

    </div>
  </div>


</div>
