<div class="modal fade"
     id="duplicateModal"
     tabindex="-1"
     aria-labelledby="duplicateModalLabel"
     data-backdrop="static"
     data-keyboard="false"
     aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header text-light bg-dark">
        <h5 *ngIf="tag"
            class="modal-title"
            id="duplicateModalLabel">Duplicate {{tag.tagName}}</h5>
        <button type="button"
                class="close text-light"
                (click)="navigate()"
                aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <app-loader *ngIf="!dataIsReady"
                  class="m-3"></app-loader>

      <form *ngIf="dataIsReady"
            [formGroup]="duplicateForm"
            (ngSubmit)="onSubmit()">
        <div class="modal-body">
          <div class="form-group">
            <label for="amount">Amount:</label>
            <input type="number"
                   class="form-control"
                   id="amount"
                   name="amount"
                   formControlName="amount"
                   placeholder="Enter amount:"
                   aria-describedby="amountHelp">
          </div>

          <div class="form-group">
            <label for="startFrom">Start from:</label>
            <input type="number"
                   class="form-control"
                   id="startFrom"
                   name="startFrom"
                   formControlName="startFrom"
                   placeholder="Enter start Ffom:"
                   aria-describedby="startFromHelp">
          </div>

          <div class="form-group">
            <label for="duplicateBy">Duplicate by:</label>
            <select class="form-control"
                    formControlName="duplicateBy"
                    (ngModelChange)="duplicateByChanged()"
                    name="duplicateBy"
                    id="duplicateBy">
              <option [value]="1">Index array</option>
              <option [value]="2">ID</option>
              <option [value]="3">Bit offset</option>
            </select>
          </div>

          <div class="form-group">
            <label for="steps">Steps:</label>
            <select class="form-control"
                    formControlName="steps"
                    name="steps"
                    id="steps">
              <option [value]="1">1</option>
              <option [value]="2">2</option>
              <option [value]="3">3</option>
              <option [value]="4">4</option>
            </select>
          </div>

          <div *ngIf="errorDuplicating"
               class="alert alert-danger mt-3"
               role="alert">
            Cannot duplicate tags
          </div>

        </div>
        <div class="modal-footer">
          <button *ngIf="!isDuplicating"
                  type="button"
                  class="btn btn-secondary"
                  (click)="navigate()">Close</button>
          <button *ngIf="!isDuplicating"
                  type="submit"
                  [disabled]="!duplicateForm.valid"
                  class="btn btn-primary">Duplicate</button>

          <app-button-loader *ngIf="isDuplicating"></app-button-loader>
        </div>
      </form>
    </div>
  </div>
</div>
