<div class="container-fluid my-3">
  <div class="card">
    <div class="card-header d-flex">
      <div class="header">Modbus Convertor Tags</div>
      <div class="ml-auto">
        <app-filter-search [items]="tags"
                           [fields]="['tagName','id', 'indexArray', 'address']"
                           (onStartSearch)="searchStarted()"
                           (onEndSearch)="searchEnded()"
                           (onSearch)="onSearch($event)"></app-filter-search>
      </div>
    </div>

    <div class="card-body shadow-lg">

      <app-loader [hidden]="dataIsReady"></app-loader>

      <div [hidden]="!dataIsReady">
        <div class="row mb-3">

          <div class="col-xl-3 col-lg-4 col-sm-6">
            <div class="input-group">
              <div class="input-group-prepend">
                <label class="input-group-text"
                       for="device">Devices:</label>
              </div>
              <select class="custom-select"
                      [(ngModel)]="selectedDevice"
                      (change)="deviceChanged()"
                      name="device"
                      id="device">
                <option [value]="-1">-- Select --</option>
                <option *ngFor="let device of devices"
                        [value]="device.deviceId">{{device.deviceName}}</option>
              </select>
            </div>
          </div>

          <div class="col-xl-3 col-lg-4 col-sm-6">
            <div class="input-group">
              <div class="input-group-prepend">
                <label class="input-group-text"
                       for="inputGroupSelect01">Object type:</label>
              </div>
              <select class="custom-select"
                      [(ngModel)]="selectedObjectType"
                      (change)="objectTypeChanged()"
                      name="objectType"
                      id="objectType">
                <option [value]="-1">-- Select --</option>
                <option *ngFor="let ot of objectTypes"
                        [value]="ot">{{ot | objectTypePipe}}</option>
              </select>
            </div>
          </div>

          <div *ngIf="changesMade"
               class="col-lg-1">
            <button type="button"
                    class="btn btn-warning btn-block"
                    (click)="save()"> Save</button>
          </div>

          <div *ngIf="duplicateAddressError"
               class="col-xl-5 col-lg-4 col-sm-12">
            <div class="alert alert-danger mb-0 py-1"
                 role="alert">
              <i class="fas fa-exclamation-triangle"></i> Duplicate address error!
            </div>
          </div>
        </div>

        <div class="table-responsive table-fix-head">
          <table class="table table-sm table-hover">
            <thead class="thead-dark sticky-top">
              <tr>
                <th scope="col"># </th>
                <th scope="col">
                  <app-filter-header [headerName]="'deviceName'"
                                     [filterNumber]="1"
                                     [column]="'deviceName'"
                                     [items]="tags"
                                     [type]="'string'"
                                     (onFilterStart)="onFilterHeaderStart()"
                                     (onFilterFinish)="onFilterHeaderFinish($event)"></app-filter-header>
                </th>
                <th scope="col">
                  <app-filter-header [headerName]="'tagName'"
                                     [filterNumber]="2"
                                     [column]="'tagName'"
                                     [items]="tags"
                                     [type]="'string'"
                                     (onFilterStart)="onFilterHeaderStart()"
                                     (onFilterFinish)="onFilterHeaderFinish($event)"></app-filter-header>
                </th>
                <th scope="col">
                  <app-filter-header [headerName]="'objectType'"
                                     [filterNumber]="3"
                                     [column]="'objectType'"
                                     [items]="tags"
                                     [type]="'number'"
                                     (onFilterStart)="onFilterHeaderStart()"
                                     (onFilterFinish)="onFilterHeaderFinish($event)"></app-filter-header>
                </th>
                <th scope="col">
                  <app-filter-header [headerName]="'unitId'"
                                     [filterNumber]="4"
                                     [column]="'id'"
                                     [items]="tags"
                                     [type]="'number'"
                                     (onFilterStart)="onFilterHeaderStart()"
                                     (onFilterFinish)="onFilterHeaderFinish($event)"></app-filter-header>
                </th>
                <th scope="col">
                  <app-filter-header [headerName]="'indexArray'"
                                     [filterNumber]="5"
                                     [column]="'indexArray'"
                                     [items]="tags"
                                     [type]="'number'"
                                     (onFilterStart)="onFilterHeaderStart()"
                                     (onFilterFinish)="onFilterHeaderFinish($event)"></app-filter-header>
                </th>
                <th scope="col">
                  <app-filter-header [headerName]="'bitOffset'"
                                     [filterNumber]="6"
                                     [column]="'bitOffset'"
                                     [items]="tags"
                                     [type]="'number'"
                                     (onFilterStart)="onFilterHeaderStart()"
                                     (onFilterFinish)="onFilterHeaderFinish($event)"></app-filter-header>
                </th>
                <th scope="col">
                  <app-filter-header [headerName]="'address'"
                                     [filterNumber]="7"
                                     [column]="'address'"
                                     [items]="tags"
                                     [type]="'number'"
                                     (onFilterStart)="onFilterHeaderStart()"
                                     (onFilterFinish)="onFilterHeaderFinish($event)"></app-filter-header>
                </th>
                <th scope="col">
                  <button type="button"
                          class="btn btn-sm btn-info"
                          (click)="import()">
                    Import
                  </button>
                </th>
              </tr>
            </thead>
            <tbody>
              <ng-container
                            *ngFor="let tag of filteredTags | paginate: { id: 'tagsPagination',
                                                                          itemsPerPage: itemsPerPage,
                                                                          currentPage: p,
                                                                          totalItems: filteredTags.length }; let i = index">
                <tr>
                  <td scope="row">{{ (p * itemsPerPage) - itemsPerPage + i + 1}}</td>
                  <td>{{tag.deviceName}}</td>
                  <td>{{tag.tagName}}</td>
                  <td>{{tag.objectType | objectTypePipe}}</td>
                  <td>{{tag.id}}</td>
                  <td>{{tag.indexArray}}</td>
                  <td>{{tag.bitOffset}}</td>
                  <td>
                    <input type="number"
                           min="1"
                           [ngClass]="{'address-changed': tag.addressChanged == true, 'address-exists':tag.tagWithSameAddress}"
                           class="form-control form-control-sm"
                           name="inputAddress{{i}}"
                           placeholder="Enter address:"
                           id="inputAddress_{{i}}"
                           [(ngModel)]="tag.address"
                           (keydown)="navigate($event, i)"
                           (ngModelChange)="addressChanged(tag)">
                    <small *ngIf="tag.address != undefined && tag.address! < 1"
                           class="form-text text-danger">
                      Must be larger then 0
                    </small>
                  </td>
                  <td class="fit">
                    <button *ngIf="tag.tagWithSameAddress"
                            type="button"
                            class="btn btn-dark btn-sm"
                            data-toggle="modal"
                            data-target="#sameAddressModal"
                            (click)="showTagWithSameAddress(tag)"><i class="fas fa-eye"></i></button>
                  </td>
                </tr>
              </ng-container>
            </tbody>
          </table>
        </div>
        <div class="d-flex pt-4">
          <div>
            <pagination-controls class="my-pagination"
                                 id="tagsPagination"
                                 (pageChange)="pageChanged($event)"></pagination-controls>
          </div>

          <div class="ml-auto">
            <div class="input-group">
              <div class="input-group-prepend">
                <label class="input-group-text"
                       for="inputGroupSelect01"> <b> Total: {{filteredTags.length}} </b></label>
              </div>
              <select class="form-control custom-select"
                      id="itemsPerPage"
                      name="itemsPerPage"
                      (change)="itemsPerPageChanged()"
                      [(ngModel)]="itemsPerPage">
                <option *ngFor="let ippo of itemsPerPageOptions"
                        [value]="ippo">{{ippo}}</option>
              </select>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade"
     id="sameAddressModal"
     tabindex="-1"
     aria-labelledby="sameAddressModalLabel"
     aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"
            id="sameAddressModalLabel">Information</h5>
        <button type="button"
                class="close"
                data-dismiss="modal"
                aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h5>This tag have the same address as:</h5>
        <ul class="list-group">
          <li class="list-group-item"><b> Device name: {{tagWithSameAddress?.deviceName}} </b></li>
          <li class="list-group-item"><b> Tag name: {{tagWithSameAddress?.tagName}} </b></li>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button"
                class="btn btn-secondary"
                data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


<router-outlet></router-outlet>
