.header {
  font-size: 25px;
}

.table-fix-head {
  overflow: auto;
  max-height: 67vh;
}

.table tbody tr:hover {
  cursor: pointer;
  background-color: rgb(224, 224, 224);

}

.address-changed{
  border-left: 4px solid #ffc107;
}
.address-exists{
  border-left: 4px solid red;
}