<div class="modal fade"
     id="addEditModal"
     tabindex="-1"
     role="dialog"
     data-backdrop="static"
     data-keyboard="false"
     aria-labelledby="addEditModalLabel"
     aria-hidden="true">
  <div class="modal-dialog modal-lg"
       role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"
            id="addEditModalLabel">{{isAddMode? 'Add' : 'Edit'}} tag</h5>
        <button type="button"
                class="close"
                (click)="navigate()"
                aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <app-loader *ngIf="!dataIsReady"
                  class="m-3"></app-loader>

      <form *ngIf="dataIsReady"
            [formGroup]="tagForm"
            (ngSubmit)="onSubmit()">
        <div class="modal-body">
          <div class="row">

            <div class="form-group col-sm-6">
              <label for="tagName">Tag name:</label>
              <input type="text"
                     class="form-control"
                     id="tagName"
                     name="tagName"
                     placeholder="Tag name:"
                     formControlName="tagName"
                     aria-describedby="tagNameHelp">
              <small *ngIf="tagForm.controls['tagName']?.touched && tagForm.get('tagName')?.errors?.required"
                     class="form-text text-danger">
                Required
              </small>
            </div>

            <div class="form-group col-sm-6">
              <label for="deviceId">Device:</label>
              <select class="form-control"
                      formControlName="deviceId"
                      name="deviceId"
                      (change)="deviceChanged()"
                      id="deviceId">
                <option *ngFor="let d of devices"
                        [value]="d.deviceId">{{d.deviceName}}</option>
              </select>
            </div>

            <div class="form-group col-sm-6">
              <label for="objectType">Object type:</label>
              <select class="form-control"
                      formControlName="objectType"
                      name="objectType"
                      (change)="objectTypeChanged()"
                      id="objectType">
                <option *ngFor="let oto of objectTypeOptions"
                        [value]="oto">{{oto | objectTypePipe}}</option>
              </select>
            </div>

            <div class="form-group col-sm-6">
              <label for="id">ID:</label>
              <select class="form-control"
                      formControlName="id"
                      (change)="idChanged()"
                      name="id"
                      id="id">
                <option *ngFor="let io of idOptions"
                        [value]="io">{{io}}</option>
              </select>
            </div>

            <div class="form-group col-sm-6">
              <label for="indexArray">Index Array:</label>
              <input type="number"
                     class="form-control"
                     id="indexArray"
                     name="indexArray"
                     (ngModelChange)="indexArrayChanged()"
                     placeholder="Index array:"
                     formControlName="indexArray"
                     aria-describedby="indexArrayHelp">
              <small *ngIf="tagForm.controls['indexArray']?.touched && tagForm.get('indexArray')?.errors?.required"
                     class="form-text text-danger">
                Required
              </small>
              <small *ngIf="tagForm.controls['indexArray'].hasError('min')"
                     class="form-text text-danger">
                Minimum index array is 1.
              </small>
            </div>

            <div class="form-group col-sm-6">
              <label for="bitOffset">Bit offset:</label>
              <select class="form-control"
                      formControlName="bitOffset"
                      name="bitOffset"
                      (change)="bitOfffsetChanged()"
                      id="bitOffset">
                <option *ngFor="let boo of bitOffsetOptions"
                        [value]="boo">{{boo}}</option>
              </select>
            </div>

            <div class="form-group col-sm-6">
              <label for="amount">Amount:</label>
              <select class="form-control"
                      formControlName="amount"
                      name="amount"
                      (change)="amountChanged()"
                      id="amount">
                <option *ngFor="let boo of bitOffsetOptions"
                        [value]="boo">{{boo}}</option>
              </select>
              <small *ngIf="tagForm.get('amount')?.errors?.required ||
                            tagForm.controls['amount'].hasError('min') || 
                            tagForm.controls['amount'].hasError('max') || amountError"
                     class="form-text text-danger">
                Invalid value
              </small>
            </div>

            <div class="form-group col-sm-6">
              <label for="calculator">Calculator:</label>
              <select class="form-control"
                      formControlName="calculator"
                      name="calculator"
                      id="calculator">
                <option *ngFor="let co of calculatorOptions"
                        [value]="co">{{co}}</option>
              </select>
            </div>

            <div class="form-group col-sm-6">
              <label for="timeSearch">Time search:</label>
              <input type="number"
                     class="form-control"
                     id="timeSearch"
                     name="timeSearch"
                     placeholder="Time search:"
                     formControlName="timeSearch"
                     aria-describedby="timeSearchHelp">
              <small *ngIf="tagForm.controls['timeSearch']?.touched && tagForm.get('timeSearch')?.errors?.required"
                     class="form-text text-danger">
                Required
              </small>
            </div>

          </div>

          <div class="form-group custom-control custom-checkbox">
            <input type="checkbox"
                   class="custom-control-input"
                   formControlName="enableWriting"
                   (change)="enableWritingChanged()"
                   id="enableWriting"
                   name="enableWriting">
            <label class="custom-control-label"
                   type="button"
                   for="enableWriting">Enable writing</label>
          </div>

          <div class="row">

            <div class="form-group col-sm-6">
              <label for="minValueToWrite">Min value to write:</label>
              <input type="number"
                     class="form-control"
                     id="minValueToWrite"
                     name="minValueToWrite"
                     placeholder="Min value to write:"
                     formControlName="minValueToWrite"
                     aria-describedby="minValueToWriteHelp">
              <small *ngIf="tagForm.controls['minValueToWrite']?.touched && tagForm.get('minValueToWrite')?.errors?.required"
                     class="form-text text-danger">
                Required
              </small>

              <small *ngIf="tagForm.controls['minValueToWrite'].hasError('min')"
                     class="form-text text-danger">
                Minimum value to write is 0.
              </small>
            </div>

            <div class="form-group col-sm-6">
              <label for="maxValueToWrite">Max value to write:</label>
              <input type="number"
                     class="form-control"
                     id="maxValueToWrite"
                     name="maxValueToWrite"
                     placeholder="Max value to write:"
                     formControlName="maxValueToWrite"
                     aria-describedby="maxValueToWriteHelp">
              <small *ngIf="tagForm.controls['maxValueToWrite']?.touched && tagForm.get('maxValueToWrite')?.errors?.required"
                     class="form-text text-danger">
                Required
              </small>
              <small *ngIf="tagForm.controls['maxValueToWrite'].hasError('max')"
                     class="form-text text-danger">
                Maximum value to write is 65535.
              </small>
            </div>
          </div>


          <div *ngIf="errorMessage"
               class="alert alert-danger mt-3"
               role="alert">
            {{errorMessage}}
          </div>

        </div>
        <div class="modal-footer">

          <button *ngIf="!isLoading"
                  type="button"
                  class="btn btn-secondary"
                  (click)="navigate()">Close</button>

          <button *ngIf="!isLoading"
                  type="submit"
                  [disabled]="!tagForm.valid || amountError"
                  class="btn btn-primary">Save changes</button>

          <app-button-loader *ngIf="isLoading"></app-button-loader>
        </div>
      </form>

    </div>
  </div>
</div>
