<nav class="navbar navbar-expand-sm navbar-dark bg-dark sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand text-success"
       routerLink="devices">
      Depot
    </a>
    <button class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse"
         id="navbarSupportedContent">
      <ul class="nav navbar-nav  mr-auto">
        <li class="nav-item"
            routerLinkActive="active">
          <a class="nav-link"
             routerLink="devices">
            Devices
          </a>
        </li>
        <li class="nav-item"
            routerLinkActive="active">
          <a class="nav-link"
             routerLink="tags">
            Tags
          </a>
        </li>
        <li class="nav-item"
            routerLinkActive="active">
          <a class="nav-link"
             routerLink="convertor">
            Convertor
          </a>
        </li>
        <li class="nav-item"
            routerLinkActive="active">
          <a class="nav-link"
             routerLink="logs">
            Logs
          </a>
        </li>
      </ul>
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link logout"
             type="button"
             (click)="logout()">Logout</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
