<div class="container-fluid my-3">
  <div class="card">
    <div class="card-header d-flex">
      <div class="header">Devices</div>

      <div class="ml-auto">
        <app-filter-search [items]="devices"
                           [fields]="['deviceName', 'ip', 'protocol']"
                           (onStartSearch)="searchStarted()"
                           (onEndSearch)="searchEnded()"
                           (onSearch)="onSearch($event)"></app-filter-search>
      </div>

    </div>
    <div class="card-body shadow-lg">

      <app-loader [hidden]="dataIsReady"></app-loader>

      <div [hidden]="!dataIsReady">
        <div class="table-responsive table-fix-head">
          <table class="table table-sm table-hover">
            <thead class="thead-dark sticky-top">
              <tr>
                <th scope="col">#</th>
                <th scope="col">
                  <app-filter-header [headerName]="'deviceName'"
                                     [filterNumber]="1"
                                     [column]="'deviceName'"
                                     [items]="devices"
                                     [type]="'string'"
                                     (onFilterStart)="onFilterHeaderStart()"
                                     (onFilterFinish)="onFilterHeaderFinish($event)"></app-filter-header>
                </th>
                <th scope="col">
                  <app-filter-header [headerName]="'ip'"
                                     [filterNumber]="2"
                                     [column]="'ip'"
                                     [items]="devices"
                                     [type]="'string'"
                                     (onFilterStart)="onFilterHeaderStart()"
                                     (onFilterFinish)="onFilterHeaderFinish($event)"></app-filter-header>
                </th>
                <th scope="col">
                  <app-filter-header [headerName]="'port'"
                                     [filterNumber]="3"
                                     [column]="'port'"
                                     [items]="devices"
                                     [type]="'number'"
                                     (onFilterStart)="onFilterHeaderStart()"
                                     (onFilterFinish)="onFilterHeaderFinish($event)"></app-filter-header>
                </th>
                <th scope="col">Time search</th>
                <th scope="col">Time out</th>
                <th scope="col">Procotol</th>
                <th scope="col"
                    class="text-center">Read</th>
                <th scope="col"
                    class="fit">
                  <div class="d-flex align-items-center">
                    <div>Enabled</div>
                    <div class="dropdown ml-3">
                      <button class="btn btn-sm btn-outline-secondary"
                              type="button"
                              data-boundary="window"
                              id="dropdownMenuButton1"
                              data-toggle="dropdown"
                              aria-haspopup="true"
                              aria-expanded="false">
                        <i class="fas  fa-filter"></i>
                      </button>
                      <div class="dropdown-menu enable-filter-dropdown-menu"
                           aria-labelledby="dropdownMenuButton1">
                        <a class="dropdown-item"
                           (click)="filterByEnabled($event, true)">
                          <i class="fas fa-check-circle  text-success"></i> Enabled</a>
                        <a class="dropdown-item"
                           (click)="filterByEnabled($event,false)">
                          <i class="fas fa-times-circle text-danger"></i> Disabled</a>
                        <a class="dropdown-item active"
                           (click)="filterByEnabled($event)"> <i class="fas fa-infinity text-info"></i> All</a>
                      </div>
                    </div>
                  </div>
                </th>
                <th scope="col"
                    class="fit">
                  <div class="d-flex align-items-center">
                    <div> Status</div>
                    <div class="dropdown ml-3">
                      <button class="btn btn-sm btn-outline-secondary"
                              type="button"
                              data-boundary="viewport"
                              id="dropdownMenuButton2"
                              data-toggle="dropdown"
                              aria-haspopup="true"
                              aria-expanded="false">
                        <i class="fas  fa-filter"></i>
                      </button>
                      <div class="dropdown-menu status-filter-dropdown-menu"
                           aria-labelledby="dropdownMenuButton2">
                        <a class="dropdown-item"
                           (click)="filterByStatus($event, true)">
                          <i class="fas fa-heartbeat text-success"></i> Active</a>
                        <a class="dropdown-item"
                           (click)="filterByStatus($event,false)">
                          <i class="fas fa-heartbeat text-danger"></i> Not active</a>
                        <a class="dropdown-item active"
                           (click)="filterByStatus($event)"> <i class="fas fa-infinity text-info"></i> All</a>
                      </div>
                    </div>
                  </div>
                </th>
                <th class="fit"></th>
                <th scope="col"
                    class="fit">
                  <button type="button"
                          class="btn btn-sm btn-info"
                          (click)="import()">
                    Import
                  </button>

                  <button type="button"
                          class="btn btn-sm btn-success ml-2"
                          (click)="addDevice()">
                    Add
                  </button>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr
                  *ngFor="let device of filteredDevices | paginate: { id: 'devicePagination',
                                                                      itemsPerPage: itemsPerPage,
                                                                      currentPage: p,
                                                                      totalItems: filteredDevices.length }; let i = index">
                <td scope="row">{{ (p * itemsPerPage) - itemsPerPage + i + 1}}</td>
                <td>{{device.deviceName}}</td>
                <td>{{device.ip}}</td>
                <td>{{device.port}}</td>
                <td>{{device.timeSearch}}</td>
                <td>{{device.timeOut}}</td>
                <td>{{device.protocol}}</td>
                <td class="text-center">{{device.maxRegisterToRead}}</td>
                <td class="text-center">
                  <i *ngIf="device.enable"
                     class="fas fa-check-circle fa-lg text-success"></i>
                  <i *ngIf="!device.enable"
                     class="fas fa-times-circle fa-lg text-danger"></i>
                </td>
                <td class="text-center">
                  <i *ngIf="device.status"
                     class="fas fa-heartbeat fa-lg text-success"></i>
                  <i *ngIf="!device.status"
                     class="fas fa-heartbeat fa-lg text-danger"></i>
                </td>
                <td>
                  <div *ngIf="!device.isEnableLoading"
                       class="custom-control custom-switch custom-switch-md">
                    <input type="checkbox"
                           class="custom-control-input"
                           id="enableSwitch{{i}}"
                           [disabled]="isEnableLoading"
                           (change)="enableChanged(device)"
                           [(ngModel)]="device.enable">
                    <label class="custom-control-label"
                           for="enableSwitch{{i}}"></label>
                  </div>

                  <app-loader *ngIf="device.isEnableLoading"
                              class="pl-2"></app-loader>

                </td>
                <td class="fit">
                  <button type="button"
                          class="btn btn-dark btn-sm"
                          (click)="deleteDevice(device)">Delete</button>

                  <button type="button"
                          class="btn btn-primary btn-sm ml-2"
                          (click)="editDevice(device)">Edit</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="d-flex pt-3">
          <div>
            <pagination-controls class="my-pagination"
                                 id="devicePagination"
                                 (pageChange)="pageChanged($event)"></pagination-controls>
          </div>
          <div class="ml-auto">
            <div class="input-group">
              <div class="input-group-prepend">
                <label class="input-group-text"
                       for="inputGroupSelect01"> <b> Total: {{filteredDevices.length}}</b></label>
              </div>
              <select class="form-control custom-select"
                      id="itemsPerPage"
                      name="itemsPerPage"
                      (change)="itemsPerPageChanged()"
                      [(ngModel)]="itemsPerPage">
                <option *ngFor="let ippo of itemsPerPageOptions"
                        [value]="ippo">{{ippo}}</option>
              </select>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
