<div class="container-fluid my-3">
  <div class="card">
    <div class="card-header d-flex">
      <div class="header">Tags</div>

      <div class="ml-auto">
        <app-filter-search [items]="tags"
                           [fields]="['deviceName', 'tagName','id', 'indexArray', 'address']"
                           (onStartSearch)="searchStarted()"
                           (onEndSearch)="searchEnded()"
                           (onSearch)="onSearch($event)"></app-filter-search>
      </div>

    </div>
    <div class="card-body shadow-lg">

      <app-loader [hidden]="dataIsReady"></app-loader>

      <div [hidden]="!dataIsReady">
        <div class="row mb-3">
          <div class="input-group col-xl-3 col-lg-4 col-sm-6">
            <div class="input-group-prepend">
              <label class="input-group-text"
                     for="device">Devices:</label>
            </div>
            <select class="custom-select"
                    [(ngModel)]="selectedDeviceId"
                    (ngModelChange)="deviceChanged()"
                    name="device"
                    id="device">
              <option [value]="-1">-- Select --</option>
              <option *ngFor="let device of devices"
                      [value]="device.deviceId">{{device.deviceName}}</option>
            </select>
            <div *ngIf="selectedDevice"
                 class="input-group-append">
              <label class="input-group-text"
                     for="device">
                <i *ngIf="selectedDevice.status"
                   class="fas fa-heartbeat fa-lg text-success"></i>
                <i *ngIf="!selectedDevice.status"
                   class="fas fa-heartbeat fa-lg text-danger"></i>
              </label>
            </div>
          </div>

          <div class="input-group col-xl-3 col-lg-4 col-sm-6">
            <div class="input-group-prepend">
              <label class="input-group-text"
                     for="inputGroupSelect01">Object type:</label>
            </div>
            <select class="custom-select"
                    [(ngModel)]="selectedObjectType"
                    (ngModelChange)="objectTypeChanged()"
                    name="objectType"
                    id="objectType">
              <option [value]="-1">-- Select --</option>
              <option *ngFor="let ot of objectTypes"
                      [value]="ot">{{ot | objectTypePipe}}</option>
            </select>
          </div>

          <div *ngIf="modbusServiceIsDown"
               class="col-sm-12 mt-3">
            <div class="alert alert-danger"
                 role="alert">
              Service is down, please refresh the page to try again
            </div>
          </div>
        </div>

        <div class="table-responsive table-fix-head">
          <table class="table table-sm table-hover">
            <thead class="thead-dark sticky-top">
              <tr>
                <th scope="col">#</th>
                <th scope="col">
                  <app-filter-header [headerName]="'deviceName'"
                                     [filterNumber]="1"
                                     [column]="'deviceName'"
                                     [items]="tags"
                                     [type]="'string'"
                                     (onSort)="onSort($event)"
                                     (onFilterStart)="onFilterHeaderStart()"
                                     (onFilterFinish)="onFilterHeaderFinish($event)"></app-filter-header>
                </th>
                <th scope="col">
                  <app-filter-header [headerName]="'tagName'"
                                     [filterNumber]="2"
                                     [column]="'tagName'"
                                     [items]="tags"
                                     [type]="'string'"
                                     (onSort)="onSort($event)"
                                     (onFilterStart)="onFilterHeaderStart()"
                                     (onFilterFinish)="onFilterHeaderFinish($event)"></app-filter-header>
                </th>
                <th scope="col">
                  <app-filter-header [headerName]="'objectType'"
                                     [filterNumber]="3"
                                     [column]="'objectType'"
                                     [items]="tags"
                                     [type]="'number'"
                                     (onSort)="onSort($event)"
                                     (onFilterStart)="onFilterHeaderStart()"
                                     (onFilterFinish)="onFilterHeaderFinish($event)"></app-filter-header>
                </th>
                <th scope="col">
                  <app-filter-header [headerName]="'unitId'"
                                     [filterNumber]="4"
                                     [column]="'id'"
                                     [items]="tags"
                                     [type]="'number'"
                                     (onSort)="onSort($event)"
                                     (onFilterStart)="onFilterHeaderStart()"
                                     (onFilterFinish)="onFilterHeaderFinish($event)"></app-filter-header>
                </th>
                <th scope="col">
                  <app-filter-header [headerName]="'indexArray'"
                                     [filterNumber]="5"
                                     [column]="'indexArray'"
                                     [items]="tags"
                                     [type]="'number'"
                                     (onSort)="onSort($event)"
                                     (onFilterStart)="onFilterHeaderStart()"
                                     (onFilterFinish)="onFilterHeaderFinish($event)"></app-filter-header>
                </th>
                <th scope="col">
                  <app-filter-header [headerName]="'bitOffset'"
                                     [filterNumber]="6"
                                     [column]="'bitOffset'"
                                     [items]="tags"
                                     [type]="'number'"
                                     (onSort)="onSort($event)"
                                     (onFilterStart)="onFilterHeaderStart()"
                                     (onFilterFinish)="onFilterHeaderFinish($event)"></app-filter-header>
                </th>
                <th scope="col">
                  <app-filter-header [headerName]="'amount'"
                                     [filterNumber]="7"
                                     [column]="'amount'"
                                     [items]="tags"
                                     [type]="'number'"
                                     (onSort)="onSort($event)"
                                     (onFilterStart)="onFilterHeaderStart()"
                                     (onFilterFinish)="onFilterHeaderFinish($event)"></app-filter-header>
                </th>
                <th scope="col">
                  <app-filter-header [headerName]="'address'"
                                     [filterNumber]="8"
                                     [column]="'address'"
                                     [items]="tags"
                                     [type]="'number'"
                                     (onSort)="onSort($event)"
                                     (onFilterStart)="onFilterHeaderStart()"
                                     (onFilterFinish)="onFilterHeaderFinish($event)"></app-filter-header>
                </th>
                <th scope="col">
                  <app-filter-header [headerName]="'calculator'"
                                     [filterNumber]="9"
                                     [column]="'calculator'"
                                     [items]="tags"
                                     [type]="'string'"
                                     (onSort)="onSort($event)"
                                     (onFilterStart)="onFilterHeaderStart()"
                                     (onFilterFinish)="onFilterHeaderFinish($event)"></app-filter-header>
                </th>
                <th scope="col">Calc value</th>
                <th scope="col">Value</th>
                <th scope="col"
                    class="fit">
                  <button type="button"
                          class="btn btn-sm btn-info"
                          (click)="import()">
                    Import
                  </button>

                  <button type="button"
                          class="btn btn-sm btn-success ml-2"
                          [disabled]="devices.length == 0"
                          (click)="addTag()">
                    Add
                  </button>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let tag of filteredTags 
                                          | paginate: { id: 'tagPagination',
                                                     itemsPerPage: itemsPerPage,
                                                     currentPage: p,
                                                     totalItems: filteredTags.length }; let i = index">
                <td scope="row">{{ (p * itemsPerPage) - itemsPerPage + i + 1}}</td>
                <td>{{tag.deviceName}}</td>
                <td>{{tag.tagName}}</td>
                <td>{{tag.objectType | objectTypePipe}}</td>
                <td>{{tag.id}}</td>
                <td>{{tag.indexArray}}</td>
                <td>{{tag.bitOffset}}</td>
                <td>{{tag.amount}}</td>
                <td>{{tag.address}}</td>
                <td>{{tag.calculator}}</td>
                <td>{{tag.calculatedValue != undefined ? tag.calculatedValue : '- - - - -'}}</td>
                <td>{{tag.value != undefined ? tag.value : '- - - -'}}</td>
                <td class="fit">
                  <button type="button"
                          class="btn btn-primary btn-sm mr-2"
                          (click)="editTag(tag)">Edit</button>

                  <div class="dropdown"
                       style="display: inline-block;">
                    <button class="btn btn-sm btn-secondary dropdown-toggle"
                            type="button"
                            id="dropdownMenuButton"
                            data-toggle="dropdown"
                            aria-haspopup="true"
                            aria-expanded="false">
                      Actions
                    </button>
                    <div class="dropdown-menu"
                         aria-labelledby="dropdownMenuButton">
                      <a class="dropdown-item"
                         (click)="writeTag(tag)">Write</a>
                      <a class="dropdown-item"
                         (click)="deleteTag(tag)">Delete</a>
                      <a class="dropdown-item"
                         (click)="duplicate(tag)">Duplicate</a>
                    </div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="d-flex pt-4">
          <div>
            <pagination-controls class="my-pagination"
                                 id="tagPagination"
                                 (pageChange)="pageChanged($event)"></pagination-controls>
          </div>
          <div class="ml-auto">
            <div class="input-group">
              <div class="input-group-prepend">
                <label class="input-group-text"
                       for="inputGroupSelect01"> <b> Total: {{filteredTags.length}} </b></label>
              </div>
              <select class="form-control custom-select"
                      id="itemsPerPage"
                      name="itemsPerPage"
                      (change)="itemsPerPageChanged()"
                      [(ngModel)]="itemsPerPage">
                <option *ngFor="let ippo of itemsPerPageOptions"
                        [value]="ippo">{{ippo}}</option>
              </select>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
