<div class="modal fade"
     id="writeModal"
     tabindex="-1"
     aria-labelledby="writeModalLabel"
     data-backdrop="static"
     data-keyboard="false"
     aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header text-light bg-dark">
        <h5 *ngIf="tag"
            class="modal-title"
            id="writeModalLabel">Write to {{tag.tagName}}</h5>
        <button type="button"
                class="close text-light"
                (click)="navigate()"
                aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <app-loader *ngIf="!dataIsReady"
                  class="m-3"></app-loader>

      <form *ngIf="dataIsReady"
            [formGroup]="writeForm"
            (ngSubmit)="onSubmit()">
        <div class="modal-body">
          <div class="form-group">
            <label for="value">Value to write:</label>
            <input type="number"
                   class="form-control"
                   id="value"
                   name="value"
                   formControlName="value"
                   placeholder="Enter value to write:"
                   aria-describedby="valueToWriteHelp">
            <small *ngIf="writeForm.controls['value'].hasError('min') || writeForm.controls['value'].hasError('max')"
                   class="form-text text-danger">
              Value must be between {{tag.minValueToWrite}} - {{tag.maxValueToWrite}}
            </small>
          </div>

          <div *ngIf="errorWriting"
               class="alert alert-danger mt-3"
               role="alert">
            Cannot write to tag
          </div>

        </div>
        <div class="modal-footer">
          <button *ngIf="!isWriting"
                  type="button"
                  class="btn btn-secondary"
                  (click)="navigate()">Close</button>
          <button *ngIf="!isWriting"
                  type="submit"
                  [disabled]="!writeForm.valid"
                  class="btn btn-primary">Write</button>

          <app-button-loader *ngIf="isWriting"></app-button-loader>
        </div>
      </form>
    </div>
  </div>
</div>
