<div class="container-fluid my-3">
  <div class="card">
    <div class="card-header d-flex">
      <div class="header">Logs</div>

      <div class="ml-auto">
        <app-filter-search [items]="logs"
                           [fields]="['deviceName', 'tagName']"
                           (onStartSearch)="searchStarted()"
                           (onEndSearch)="searchEnded()"
                           (onSearch)="onSearch($event)"></app-filter-search>
      </div>

    </div>
    <div class="card-body shadow-lg">

      <app-loader *ngIf="!dataIsReady"></app-loader>

      <div *ngIf="dataIsReady">

        <div class="row mb-3">
          <div class="input-group col-xl-3 col-lg-4 col-sm-6">
            <div class="input-group-prepend">
              <label class="input-group-text"
                     for="device">Devices:</label>
            </div>
            <select class="custom-select"
                    [(ngModel)]="selectedDeviceId"
                    (ngModelChange)="deviceChanged()"
                    name="device"
                    id="device">
              <option [value]="-1">-- Select --</option>
              <option *ngFor="let device of devices"
                      [value]="device.deviceId">{{device.deviceName}}</option>
            </select>
          </div>

          <div class="input-group col-xl-3 col-lg-4 col-sm-6">
            <div class="input-group-prepend">
              <label class="input-group-text"
                     for="inputGroupSelect01">Object type:</label>
            </div>
            <select class="custom-select"
                    [(ngModel)]="selectedObjectType"
                    (ngModelChange)="objectTypeChanged()"
                    name="objectType"
                    id="objectType">
              <option [value]="-1">-- Select --</option>
              <option *ngFor="let ot of objectTypes"
                      [value]="ot">{{ot | objectTypePipe}}</option>
            </select>
          </div>
        </div>

        <div class="table-responsive table-fix-head">
          <table class="table table-sm table-hover">
            <thead class="thead-dark sticky-top">
              <tr>
                <th scope="col">#</th>
                <th scope="col">Device name</th>
                <th scope="col">Tag name</th>
                <th scope="col">Object type</th>
                <th scope="col">ID</th>
                <th scope="col">Index array</th>
                <th scope="col">Bit offset</th>
                <th scope="col">Time</th>
                <th scope="col"
                    class="text-center fit">Value</th>
              </tr>
            </thead>
            <tbody>
              <tr
                  *ngFor="let log of filteredLogs | paginate: { id: 'logPagination',
                                                                      itemsPerPage: itemsPerPage,
                                                                      currentPage: p,
                                                                      totalItems: filteredLogs.length }; let i = index">
                <td scope="row">{{ (p * itemsPerPage) - itemsPerPage + i + 1}}</td>
                <td>{{log.deviceName}}</td>
                <td>{{log.tagName}}</td>
                <td>{{log.objectType | objectTypePipe}}</td>
                <td>{{log.id}}</td>
                <td>{{log.indexArray}}</td>
                <td>{{log.bitOffset}}</td>
                <td>{{log.time | date: 'dd/MM/yyyy HH:mm:ss'}}</td>
                <td class="text-center">{{log.value}}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="d-flex pt-3">
          <div>
            <pagination-controls class="my-pagination"
                                 id="logPagination"
                                 (pageChange)="pageChanged($event)"></pagination-controls>
          </div>
          <div class="ml-auto">
            <div class="input-group">
              <div class="input-group-prepend">
                <label class="input-group-text"
                       for="inputGroupSelect01"> <b> Total: {{filteredLogs.length}}</b></label>
              </div>
              <select class="form-control custom-select"
                      id="itemsPerPage"
                      name="itemsPerPage"
                      (change)="itemsPerPageChanged()"
                      [(ngModel)]="itemsPerPage">
                <option *ngFor="let ippo of itemsPerPageOptions"
                        [value]="ippo">{{ippo}}</option>
              </select>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
