<form class="form-signin mt-5">
       <h1 class="h3 mb-3 font-weight-normal text-center">Please login</h1>
     
       <form [formGroup]="loginForm"
             (ngSubmit)="onSubmit()">
     

         <div class="form-group">
           <label for="inputUserName"
                  class="sr-only">User name:</label>
           <input type="text"
                  id="inputUserName"
                  name="userName"
                  formControlName="userName"
                  class="form-control"
                  placeholder="User name:"
                  autofocus>
           <small *ngIf="loginForm.get('userName')?.errors?.minlength"
                  class="form-text text-danger">
             User name length must be at least 4 characters.
           </small>
         </div>
     
         <div class="form-group">
         <label for="inputPassword"
                class="sr-only">Password:</label>
         <div class="input-group mb-3">
            <input  id="inputPassword"  [type]="showPassword ? 'text' : 'password'"
            formControlName="password" class="form-control" placeholder="Password" aria-label="password" aria-describedby="basic-addon2">
            <div class="input-group-append">
              <button *ngIf="showPassword" class="btn btn-outline-secondary" type="button" (click)="passwordPressed()"><i class="fas fa-eye"></i></button>
              <button *ngIf="!showPassword" class="btn btn-outline-secondary" type="button" (click)="passwordPressed()"><i class="fas fa-eye-slash"></i></button>
            </div>
          </div>
          <small *ngIf="loginForm.get('password')?.errors?.minlength"
                  class="form-text text-danger">
             Password length must be at least 4 characters.
           </small>
        </div>
     
         <div class="custom-control custom-checkbox mb-3">
           <input type="checkbox"
                  class="custom-control-input"
                  formControlName="remember"
                  id="remember"
                  name="remember">
           <label class="custom-control-label"
                  type="button"
                  for="remember">Remember me</label>
         </div>
     
         <button *ngIf="!isLoading"
                 class="btn btn-lg btn-primary btn-block"
                 [disabled]="!loginForm.valid"
                 type="submit">Login</button>
         <button *ngIf="isLoading"
                 class="btn btn-lg btn-primary btn-block"
                 type="button"
                 disabled>
           <span class="spinner-border"
                 role="status"
                 aria-hidden="true"></span>
           Loading...
         </button>
     
         <div *ngIf="loginError"
              class="alert alert-danger mt-3"
              role="alert">
           Invalid user name or password
         </div>
       </form>
     </form>
     