<div class="modal fade"
     id="addEditModal"
     tabindex="-1"
     role="dialog"
     data-backdrop="static"
     data-keyboard="false"
     aria-labelledby="addEditModalLabel"
     aria-hidden="true">
  <div class="modal-dialog"
       role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"
            id="addEditModalLabel">{{isAddMode? 'Add' : 'Edit'}} device</h5>
        <button type="button"
                class="close"
                (click)="navigate()"
                aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <app-loader *ngIf="!dataIsReady"
                  class="m-3"></app-loader>

      <form *ngIf="dataIsReady"
            [formGroup]="deviceForm"
            (ngSubmit)="onSubmit()">
        <div class="modal-body">
          <div class="form-group">
            <label for="deviceName">Device name:</label>
            <input type="text"
                   class="form-control"
                   id="deviceName"
                   name="deviceName"
                   placeholder="Device name:"
                   formControlName="deviceName"
                   aria-describedby="deviceNameHelp">
            <small *ngIf="deviceForm.controls['deviceName']?.touched && deviceForm.get('deviceName')?.errors?.required"
                   class="form-text text-danger">
              Required
            </small>
          </div>

          <div class="form-group">
            <label for="ip">Ip address:</label>
            <input type="text"
                   class="form-control"
                   id="ip"
                   name="ip"
                   placeholder="Ip address:"
                   formControlName="ip"
                   aria-describedby="ipHelp">
            <small *ngIf="deviceForm.controls['ip']?.touched && deviceForm.get('ip')?.errors?.required"
                   class="form-text text-danger">
              Required
            </small>
          </div>

          <div class="form-group">
            <label for="port">Port:</label>
            <input type="number"
                   class="form-control"
                   id="port"
                   name="port"
                   placeholder="Port:"
                   formControlName="port"
                   aria-describedby="portHelp">
            <small *ngIf="deviceForm.controls['port']?.touched && deviceForm.get('port')?.errors?.required"
                   class="form-text text-danger">
              Required
            </small>
          </div>

          <div class="form-group">
            <label for="timeSearch">Time search:</label>
            <input type="number"
                   class="form-control"
                   id="timeSearch"
                   name="timeSearch"
                   placeholder="Time search:"
                   formControlName="timeSearch"
                   aria-describedby="timeSearchHelp">
            <small *ngIf="deviceForm.controls['timeSearch']?.touched && deviceForm.get('timeSearch')?.errors?.required"
                   class="form-text text-danger">
              Required
            </small>
          </div>

          <div class="form-group">
            <label for="timeOut">Timeout:</label>
            <input type="number"
                   class="form-control"
                   id="timeOut"
                   name="timeOut"
                   placeholder="Time search:"
                   formControlName="timeOut"
                   aria-describedby="timeOutHelp">
            <small *ngIf="deviceForm.controls['timeOut']?.touched && deviceForm.get('timeOut')?.errors?.required"
                   class="form-text text-danger">
              Required
            </small>
          </div>

          <div class="form-group">
            <label for="protocol">Protocol:</label>
            <input type="text"
                   class="form-control"
                   id="protocol"
                   name="protocol"
                   placeholder="Protocol name:"
                   formControlName="protocol"
                   aria-describedby="protocolHelp">
            <small *ngIf="deviceForm.controls['protocol']?.touched && deviceForm.get('protocol')?.errors?.required"
                   class="form-text text-danger">
              Required
            </small>
          </div>

          <div class="form-group">
            <label for="maxRegisterToRead">Max register to read:</label>
            <select class="form-control"
                    formControlName="maxRegisterToRead"
                    name="maxRegisterToRead"
                    id="maxRegisterToRead">
              <option *ngFor="let ro of readOptions"
                      [value]="+ro">{{ro}}</option>
            </select>
          </div>

          <div class="form-group custom-control custom-checkbox">
            <input type="checkbox"
                   class="custom-control-input"
                   formControlName="enable"
                   id="enable"
                   name="enable">
            <label class="custom-control-label"
                   type="button"
                   for="enable">Enable</label>
          </div>

          <div *ngIf="errorMessage"
               class="alert alert-danger mt-3"
               role="alert">
            {{errorMessage}}
          </div>

        </div>
        <div class="modal-footer">

          <button *ngIf="!isLoading"
                  type="button"
                  class="btn btn-secondary"
                  (click)="navigate()">Close</button>

          <button *ngIf="!isLoading"
                  type="submit"
                  [disabled]="!deviceForm.valid"
                  class="btn btn-primary">Save changes</button>

          <app-button-loader *ngIf="isLoading"></app-button-loader>
        </div>
      </form>
    </div>
  </div>
</div>
