<div class="modal fade"
     id="importModal"
     tabindex="-1"
     aria-labelledby="importModalLabel"
     data-backdrop="static"
     data-keyboard="false"
     aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header text-light bg-dark">
        <h5 class="modal-title"
            id="importModalLabel">Import {{type}}</h5>
        <button type="button"
                class="close text-light"
                (click)="navigate()"
                aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="input-group mb-3">
          <div class="custom-file">
            <input type="file"
                   class="custom-file-input"
                   id="inputGroupFile01"
                   aria-describedby="inputGroupFileAddon01"
                   accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"
                   (change)="fileChanged($event)">
            <label class="custom-file-label"
                   for="inputGroupFile01">{{fileName? fileName: 'Choose file'}}</label>
          </div>
        </div>

        <ul class="list-group">
          <li *ngFor="let error of errorImport ; let i = index"
              class="list-group-item list-group-item-danger">
              <span *ngIf="type === 'devices'">{{i+1}}. {{error.deviceName}}</span>
              <span *ngIf="type === 'tags' || type === 'convertor'">
                {{i+1}}. Device name: {{error.deviceName}}
                <br>
                Tag name: {{error.tagName}}
                </span>
            </li>
        </ul>

      </div>
      <div class="modal-footer">
        <button *ngIf="!isLoading"
                type="button"
                class="btn btn-secondary"
                (click)="navigate()">Close</button>
        <button *ngIf="!isLoading"
                type="button"
                class="btn btn-primary"
                [disabled]="!file"
                (click)="import()">Import</button>

        <app-button-loader *ngIf="isLoading"></app-button-loader>
      </div>
    </div>
  </div>
</div>
