<div class="modal fade"
     id="deleteModal"
     tabindex="-1"
     aria-labelledby="deleteModalLabel"
     data-backdrop="static"
     data-keyboard="false"
     aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header text-light bg-dark">
        <h5 class="modal-title"
            id="deleteModalLabel">Delete </h5>
        <button type="button"
                class="close text-light"
                (click)="navigate()"
                aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h5>Are you sure you want to delete <b>{{name}}</b>?</h5>
      </div>
      <div class="modal-footer">
        <button *ngIf="!isLoading"
                type="button"
                class="btn btn-secondary"
                (click)="navigate()">Close</button>
        <button *ngIf="!isLoading"
                type="button"
                class="btn btn-primary"
                (click)="delete()">Delete</button>

        <app-button-loader *ngIf="isLoading"></app-button-loader>
      </div>
    </div>
  </div>
</div>
