.table-responsive {
  min-height: 25vh;
}

table td.fit,
table th.fit {
  white-space: nowrap;
  width: 1%;
}

.table th {
  padding-top: 10px;
  padding-bottom: 10px;
  vertical-align: middle !important;
}

.table tbody tr td.padding-filter-header {
  padding-left: 52px;
}

.modal-header {
  background-color: #343a40 !important;
  color: white !important;
}

.modal-header button.close {
  color: white !important;
}


.dropdown .dropdown-item:hover {
  cursor: pointer;
  background-color: rgb(160, 160, 160);
  color: white;
}


.my-pagination .ngx-pagination a {
  padding: 5px 14px;
}

.my-pagination .ngx-pagination a:hover {
  transition-duration: 0.4s;
  background: #1368df;
  color: white;
  border-radius: 4px;
}

.my-pagination .ngx-pagination .current {
  background: #579BFC;
  padding: 5px 14px;
  border-radius: 4px;
}

.my-pagination .ngx-pagination {
  padding-left: 0px;
  padding-right: 0px;
}

.ngx-pagination .pagination-previous a::before {
  margin-right: 0 !important;
}

.ngx-pagination .pagination-next a::after {
  margin-left: 0 !important;
}
